
<web-app>
  <display-name>Archetype Created Web Application</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>sticky</servlet-name>
<servlet-class>cn.apiclub.captcha.servlet.StickyCaptchaServlet</servlet-class>
<init-param>
<param-name>tt1</param-name>
<param-value>4000</param-value>
</init-param>

</servlet>
<servlet-mapping>
<servlet-name>sticky</servlet-name>
<url-pattern>/captchaUrl</url-pattern>
</servlet-mapping>
</web-app>
